/* line 5, ../../../../sass/partials/course.scss */
.subject .innerNav {
  position: fixed;
  display: flex;
  left: 0;
  top: 70px;
  bottom: 70px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
/* line 16, ../../../../sass/partials/course.scss */
.subject .innerNav:hover > a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 21, ../../../../sass/partials/course.scss */
.subject .innerNav > a {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 13px;
  padding: 7px 15px 7px 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 29, ../../../../sass/partials/course.scss */
.subject .innerNav > a.active {
  color: #f35025;
  font-weight: bold;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 35, ../../../../sass/partials/course.scss */
.subject .innerNav > a.active:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f35025;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
}
/* line 52, ../../../../sass/partials/course.scss */
.subject .subject-content {
  max-width: 650px;
  margin: auto;
}
/* line 59, ../../../../sass/partials/course.scss */
.subject .subject-content > img {
  margin: 45px 0 15px;
}
/* line 63, ../../../../sass/partials/course.scss */
.subject .subject-content h5 {
  margin: 45px 0 15px;
}
/* line 66, ../../../../sass/partials/course.scss */
.subject .subject-content strong {
  font-weight: bold;
}
/* line 70, ../../../../sass/partials/course.scss */
.subject .subject-content p {
  line-height: 1.5;
}
/* line 73, ../../../../sass/partials/course.scss */
.subject .subject-content ul {
  margin: 25px;
}
/* line 76, ../../../../sass/partials/course.scss */
.subject .subject-content ul li {
  margin: 0 0 25px;
  padding-left: 25px;
  text-align: left;
  position: relative;
}
/* line 82, ../../../../sass/partials/course.scss */
.subject .subject-content ul li:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f35025;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 0;
}
/* line 94, ../../../../sass/partials/course.scss */
.subject .subject-content ul li > strong {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px;
}
/* line 103, ../../../../sass/partials/course.scss */
.subject .subject-content .examples img {
  max-width: 44%;
  margin: 3%;
}
