/* line 4, ../../../../sass/partials/layout.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #211842;
}

/* line 11, ../../../../sass/partials/layout.scss */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

/* line 18, ../../../../sass/partials/layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 24, ../../../../sass/partials/layout.scss */
#root {
  display: flex;
}

/* line 28, ../../../../sass/partials/layout.scss */
.dsgd-wrapper {
  display: flex;
  flex: 1;
}

/* line 33, ../../../../sass/partials/layout.scss */
.ChatBot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100000;
}
/* line 39, ../../../../sass/partials/layout.scss */
.ChatBot > div {
  float: right;
  display: inline-block;
  clear: both;
}

/* line 46, ../../../../sass/partials/layout.scss */
.Home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #845af7;
}
/* line 54, ../../../../sass/partials/layout.scss */
.Home > * {
  position: relative;
  z-index: 9;
}
/* line 59, ../../../../sass/partials/layout.scss */
.Home > iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 69, ../../../../sass/partials/layout.scss */
.Home > img {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
  max-width: 100px;
  margin-bottom: 25px;
}
/* line 74, ../../../../sass/partials/layout.scss */
.Home h1 {
  color: #ffffff;
  max-width: 650px;
  text-align: center;
  margin-bottom: 25px;
}

/* line 82, ../../../../sass/partials/layout.scss */
.ctaContainer {
  padding: 8px 0;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
/* line 88, ../../../../sass/partials/layout.scss */
.ctaContainer h5 {
  margin: 25px 0;
}
/* line 93, ../../../../sass/partials/layout.scss */
.ctaContainer:hover > a, .ctaContainer:hover > span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 99, ../../../../sass/partials/layout.scss */
.ctaContainer .pill {
  display: inline-block;
  background: #fff;
  border: 1px solid #eaeef0;
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 185px;
  padding: 30px;
  margin: 0 15px 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
/* line 112, ../../../../sass/partials/layout.scss */
.ctaContainer .pill > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 118, ../../../../sass/partials/layout.scss */
.ctaContainer .pill > .num {
  font-family: 'DSNum';
  font-size: 73px;
  letter-spacing: -25px;
  margin: 25px 0;
  color: #eaeef0;
}
/* line 125, ../../../../sass/partials/layout.scss */
.ctaContainer .pill > .label {
  font-size: 18px;
  margin: 15px 0 0;
}
/* line 131, ../../../../sass/partials/layout.scss */
.ctaContainer > span, .ctaContainer > a {
  display: inline-block;
  color: #211842;
  padding: 8px 15px;
  width: 100%;
  text-align: center;
}
/* line 140, ../../../../sass/partials/layout.scss */
.ctaContainer > span {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 0;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 149, ../../../../sass/partials/layout.scss */
.ctaContainer > a {
  text-decoration: none;
  font-size: 14px;
}
/* line 153, ../../../../sass/partials/layout.scss */
.ctaContainer > a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 157, ../../../../sass/partials/layout.scss */
.ctaContainer > a.active {
  color: #845af7;
  font-size: 16px;
  font-weight: bold;
}

/* line 164, ../../../../sass/partials/layout.scss */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 15px solid #845af7;
  overflow: auto;
}

/* line 171, ../../../../sass/partials/layout.scss */
.contentWrapper {
  text-align: center;
  margin-bottom: 45px;
}

/* line 176, ../../../../sass/partials/layout.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
}
/* line 185, ../../../../sass/partials/layout.scss */
.header:hover > .brand > .BrandName {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 191, ../../../../sass/partials/layout.scss */
.header > .brand {
  display: inline-block;
}
/* line 194, ../../../../sass/partials/layout.scss */
.header > .brand > .logo {
  margin-right: 10px;
}
/* line 197, ../../../../sass/partials/layout.scss */
.header > .brand > .BrandName {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 202, ../../../../sass/partials/layout.scss */
.header > .menu {
  float: right;
  font-size: 13px;
}
/* line 206, ../../../../sass/partials/layout.scss */
.header > .menu > a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
/* line 211, ../../../../sass/partials/layout.scss */
.header > .menu > a.active {
  color: #845af7;
  font-weight: bold;
}
