h1 {
  font-size: 70px;
  line-height: 82px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 45px;
  font-weight: bold;
  margin: 0 auto 25px;
  max-width: 650px;
}

p {
  margin: 0 auto 25px;
  max-width: 650px;
}
