@import 'compass/css3';
@import 'colors';

.subject {
  & .innerNav {
    position: fixed;
    display: flex;
    left: 0;
    top: 70px;
    bottom: 70px;
    margin: auto;
    flex-direction: column;
    justify-content: center;

    &:hover {
      & > a {
        @include opacity(1);
      }
    }

    & > a {
      display: inline-block;
      width: 100%;
      text-align: left;
      font-size: 13px;
      padding: 7px 15px 7px 30px;
      @include opacity(0.4);

      &.active {
        color: $primaryColor;
        font-weight: bold;
        position: relative;
        @include opacity(1);

        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: $primaryColor;
          @include border-radius(5px);
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 15px;
        }
      }
    }
  }

  & .subject-content {
    max-width: 650px;
    margin: auto;

    & h2 {
    }

    & > img {
      margin: 45px 0 15px;
    }

    & h5 {
      margin: 45px 0 15px;
    }
    & strong {
      font-weight: bold;
    }

    & p {
      line-height: 1.5;
    }
    & ul {
      margin: 25px;

      & li {
        margin: 0 0 25px;
        padding-left: 25px;
        text-align: left;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: $primaryColor;
          @include border-radius(5px);
          position: absolute;
          top: 8px;
          left: 0;
        }

        & > strong {
          display: inline-block;
          width: 100%;
          margin: 0 0 5px;
        }
      }
    }

    & .examples {
      & img {
        max-width: 44%;
        margin: 3%;
      }
    }
  }
}
