@import 'compass/css3';
@import 'colors';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: $darkerColor;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

* {
  @include box-sizing(border-box);
  @include transition-property(all);
  @include transition-duration(0.5s);
}

#root {
  display: flex;
}

.dsgd-wrapper {
  display: flex;
  flex: 1;
}

.ChatBot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100000;

  & > div {
    float: right;
    display: inline-block;
    clear: both;
  }
}

.Home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $primaryColor;

  & > * {
    position: relative;
    z-index: 9;
  }

  & > iframe {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include opacity(0.2);
  }

  & > img {
    @include filter(brightness(1000%));
    max-width: 100px;
    margin-bottom: 25px;
  }
  & h1 {
    color: $lighterColor;
    max-width: 650px;
    text-align: center;
    margin-bottom: 25px;
  }
}

.ctaContainer {
  padding: 8px 0;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;

  & h5 {
    margin: 25px 0;
  }

  & .pill {
    display: inline-block;
    background: #fff;
    border: 1px solid #eaeef0;
    @include box-shadow(2px 2px 4px 0 rgba(0, 0, 0, 0.1));
    border-radius: 3px;
    width: 185px;
    padding: 30px;
    margin: 0 15px 30px;
    outline: none;
    text-align: center;
    text-decoration: none;

    &:hover {
      @include box-shadow(2px 10px 20px 0 rgba(0, 0, 0, 0.05));

      & > .num {
        color: $mid-dark-brand-color;
      }
      & > .label {
        color: $primaryColor;
      }
    }

    & > span {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    & > .num {
      font-family: 'DSNum';
      font-size: 73px;
      letter-spacing: -25px;
      margin: 25px 0;
      color: #eaeef0;
    }
    & > .label {
      font-size: 18px;
      margin: 15px 0 0;
    }
  }

  & > span,
  & > a {
    display: inline-block;
    color: $darkerColor;
    padding: 8px 15px;
    width: 100%;
    text-align: center;
  }

  & > span {
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    padding-bottom: 0;
    text-transform: uppercase;
    @include opacity(0.7);
  }

  & > a {
    font-size: 14px;

    &:hover {
      @include opacity(1);
    }

    &.active {
      color: $primaryColor;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.contentWrapper {
  text-align: center;
  margin-bottom: 45px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(#ffffff, 0.9);

  &:hover {
    & > .brand {
      & > .BrandName {
        @include opacity(1);
      }
    }
  }

  & > .brand {
    display: inline-block;

    & > .logo {
      margin-right: 10px;
    }
    & > .BrandName {
      @include opacity(0);
    }
  }

  & > .menu {
    float: right;
    font-size: 13px;

    & > a {
      display: inline-block;
      padding: 5px 15px;
      text-decoration: none;

      &.active {
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
}
