/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:400,700");
/* line 5, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../../sass/partials/layout.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #1c1625;
}

/* line 11, ../../../sass/partials/layout.scss */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

/* line 18, ../../../sass/partials/layout.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 24, ../../../sass/partials/layout.scss */
#root {
  display: flex;
}

/* line 28, ../../../sass/partials/layout.scss */
.dsgd-wrapper {
  display: flex;
  flex: 1;
}

/* line 33, ../../../sass/partials/layout.scss */
.ChatBot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100000;
}
/* line 39, ../../../sass/partials/layout.scss */
.ChatBot > div {
  float: right;
  display: inline-block;
  clear: both;
}

/* line 46, ../../../sass/partials/layout.scss */
.Home {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f35025;
}
/* line 54, ../../../sass/partials/layout.scss */
.Home > * {
  position: relative;
  z-index: 9;
}
/* line 59, ../../../sass/partials/layout.scss */
.Home > iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 69, ../../../sass/partials/layout.scss */
.Home > img {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
  max-width: 100px;
  margin-bottom: 25px;
}
/* line 74, ../../../sass/partials/layout.scss */
.Home h1 {
  color: #ffffff;
  max-width: 650px;
  text-align: center;
  margin-bottom: 25px;
}

/* line 82, ../../../sass/partials/layout.scss */
.ctaContainer {
  padding: 8px 0;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}
/* line 88, ../../../sass/partials/layout.scss */
.ctaContainer h5 {
  margin: 25px 0;
}
/* line 92, ../../../sass/partials/layout.scss */
.ctaContainer .pill {
  display: inline-block;
  background: #fff;
  border: 1px solid #eaeef0;
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 185px;
  padding: 30px;
  margin: 0 15px 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
/* line 105, ../../../sass/partials/layout.scss */
.ctaContainer .pill:hover {
  -moz-box-shadow: 2px 10px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 10px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 10px 20px 0 rgba(0, 0, 0, 0.05);
}
/* line 108, ../../../sass/partials/layout.scss */
.ctaContainer .pill:hover > .num {
  color: #6e0025;
}
/* line 111, ../../../sass/partials/layout.scss */
.ctaContainer .pill:hover > .label {
  color: #f35025;
}
/* line 116, ../../../sass/partials/layout.scss */
.ctaContainer .pill > span {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 122, ../../../sass/partials/layout.scss */
.ctaContainer .pill > .num {
  font-family: 'DSNum';
  font-size: 73px;
  letter-spacing: -25px;
  margin: 25px 0;
  color: #eaeef0;
}
/* line 129, ../../../sass/partials/layout.scss */
.ctaContainer .pill > .label {
  font-size: 18px;
  margin: 15px 0 0;
}
/* line 135, ../../../sass/partials/layout.scss */
.ctaContainer > span, .ctaContainer > a {
  display: inline-block;
  color: #1c1625;
  padding: 8px 15px;
  width: 100%;
  text-align: center;
}
/* line 144, ../../../sass/partials/layout.scss */
.ctaContainer > span {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 0;
  text-transform: uppercase;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 153, ../../../sass/partials/layout.scss */
.ctaContainer > a {
  font-size: 14px;
}
/* line 156, ../../../sass/partials/layout.scss */
.ctaContainer > a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 160, ../../../sass/partials/layout.scss */
.ctaContainer > a.active {
  color: #f35025;
  font-size: 16px;
  font-weight: bold;
}

/* line 167, ../../../sass/partials/layout.scss */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* line 173, ../../../sass/partials/layout.scss */
.contentWrapper {
  text-align: center;
  margin-bottom: 45px;
}

/* line 178, ../../../sass/partials/layout.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 188, ../../../sass/partials/layout.scss */
.header:hover > .brand > .BrandName {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 194, ../../../sass/partials/layout.scss */
.header > .brand {
  display: inline-block;
}
/* line 197, ../../../sass/partials/layout.scss */
.header > .brand > .logo {
  margin-right: 10px;
}
/* line 200, ../../../sass/partials/layout.scss */
.header > .brand > .BrandName {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 205, ../../../sass/partials/layout.scss */
.header > .menu {
  float: right;
  font-size: 13px;
}
/* line 209, ../../../sass/partials/layout.scss */
.header > .menu > a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
/* line 214, ../../../sass/partials/layout.scss */
.header > .menu > a.active {
  color: #f35025;
  font-weight: bold;
}

/* line 3, ../../../sass/partials/components.scss */
h1 {
  font-family: 'Bitter', serif;
  font-size: 70px;
  line-height: 82px;
}

/* line 9, ../../../sass/partials/components.scss */
h2 {
  font-family: 'Bitter', serif;
  font-size: 60px;
  line-height: 1.3;
  margin: 0 auto 45px;
  max-width: 650px;
}

/* line 16, ../../../sass/partials/components.scss */
h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  margin: 0 0 25px;
  color: #f35025;
}

/* line 24, ../../../sass/partials/components.scss */
p {
  margin: 0 auto 25px;
  max-width: 650px;
}

/* line 29, ../../../sass/partials/components.scss */
a {
  color: #1c1625;
  text-decoration: none;
}
/* line 33, ../../../sass/partials/components.scss */
a:hover {
  color: #f35025;
}

/* line 5, ../../../sass/partials/course.scss */
.subject .innerNav {
  position: fixed;
  display: flex;
  left: 0;
  top: 70px;
  bottom: 70px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
/* line 16, ../../../sass/partials/course.scss */
.subject .innerNav:hover > a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 21, ../../../sass/partials/course.scss */
.subject .innerNav > a {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 13px;
  padding: 7px 15px 7px 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 29, ../../../sass/partials/course.scss */
.subject .innerNav > a.active {
  color: #f35025;
  font-weight: bold;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 35, ../../../sass/partials/course.scss */
.subject .innerNav > a.active:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f35025;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
}
/* line 52, ../../../sass/partials/course.scss */
.subject .subject-content {
  max-width: 650px;
  margin: auto;
}
/* line 59, ../../../sass/partials/course.scss */
.subject .subject-content > img {
  margin: 45px 0 15px;
}
/* line 63, ../../../sass/partials/course.scss */
.subject .subject-content h5 {
  margin: 45px 0 15px;
}
/* line 66, ../../../sass/partials/course.scss */
.subject .subject-content strong {
  font-weight: bold;
}
/* line 70, ../../../sass/partials/course.scss */
.subject .subject-content p {
  line-height: 1.5;
}
/* line 73, ../../../sass/partials/course.scss */
.subject .subject-content ul {
  margin: 25px;
}
/* line 76, ../../../sass/partials/course.scss */
.subject .subject-content ul li {
  margin: 0 0 25px;
  padding-left: 25px;
  text-align: left;
  position: relative;
}
/* line 82, ../../../sass/partials/course.scss */
.subject .subject-content ul li:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #f35025;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 0;
}
/* line 94, ../../../sass/partials/course.scss */
.subject .subject-content ul li > strong {
  display: inline-block;
  width: 100%;
  margin: 0 0 5px;
}
/* line 103, ../../../sass/partials/course.scss */
.subject .subject-content .examples img {
  max-width: 44%;
  margin: 3%;
}

@font-face {
  font-family: 'DSNum';
  src: url("../fonts/DSNum.otf") format("opentype");
}
